<html>
  <head>
    <title>Ninex</title>
    <script src="/web3.js"></script>
    <script src="/ui.js"></script>
  </head>
  <body onload="Ninex.init('{{ .infoURL }}', '{{ .contractAddr }}');">
    <h1>Ninex</h1>

    <div id="initializing">Initializing...</div>

    <div id="nocommitment" style="display: none">
      No commitment at the moment. Check back soon.
    </div>

    <div id="okguess" style="display: none">
      <p>Commitment: <span id="commitment"></span></p>
      <form>
        <p>
          <label for="digits">Guess</label>
          <input type="text" id="digits" name="digits" onchange="Ninex.change();" onkeyup="Ninex.change();">
        </p>
        <p>
          <label for="stake">Stake</label>
          <input type="text" id="stake" name="stake" onchange="Ninex.change();" onkeyup="Ninex.change();">
        </p>
      </form>
      <div id="stakeinfo" style="display: none">
        Maximum stake is <span id="maxstake"></span>.
        Payout is <span id="payout"></span>.
      </div>
      <div id="reqinfo" style="display: none">
        <p><span id="requrl"></span></p>
        <p><img id="qr"></p>
      </div>
    </div>

    <div id="noguess" style="display: none">
      Guess window is closed, preimage will be revealed soon.
    </div>

    <div id="stale" style="display: none">
      Commitment is stale.
    </div>
  </body>
</html>
